/* style.css */

body {
    background-color: #121212; /* Dark mode background */
    color: #ffffff; /* Light text for dark mode */
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form-container {
    background-color: #1e1e1e; /* Darker container background */
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    display: flex;
    flex-direction: column;
}

h2 {
    color: #ffac47; /* Mango accent color */
    margin-bottom: 15px;
    text-align: center;
}

label {
    margin-bottom: 5px;
}

input[type="text"] {
    background-color: #333333; /* Dark input background */
    border: 1px solid #555555; /* Dark border for inputs */
    border-radius: 5px;
    color: #ffffff; /* Light text for inputs */
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    width: 93%;
}

input[type="text"]:disabled {
    background-color: #2a2a2a; /* Slightly darker for disabled inputs */
}

button {
    background-color: #ffac47; /* Mango accent color */
    border: none;
    border-radius: 5px;
    color: #121212; /* Dark text on mango background */
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e69530; /* Darker mango color on hover */
}
